<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.app.microcampus">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="kNYbNMoN5dqow8bAn5ytCuH6lvt24xG4"></meta-data>

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop"
            android:label="@string/title_login"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".SignupActivity"
            android:launchMode="singleTask"
            android:label="@string/title_signup"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.android.app.microcampus.LoginActivity"></activity>
        <activity
            android:name=".ItemActivity"
            android:launchMode="singleTask"
            android:label="@string/title_add_item"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="com.android.app.microcampus.MainActivity">
       </activity>
        <activity android:name=".SearchActivity"
            android:theme="@style/TollBarTheme"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="com.android.app.microcampus.MainActivity">
        </activity>
    </application>

</manifest>